[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=
    broad-except,
    duplicate-code,
    missing-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-locals,
    too-many-nested-blocks,
    too-many-statements,
    useless-super-delegation,
    invalid-name
