# Runtime requirements
--requirement requirements.txt

# Linting/Tooling
autopep8
black
codespell
flake8
isort
mypy
pycodestyle
pyflakes
pylint

# Testing
coverage
pytest
pytest-cov
pytest-mock

python-dateutil
types-python-dateutil
types-pytz
